.similar-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  column-gap: 50px;
  row-gap: 25px;
}

.similar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 250px;
  }
  .similar-info {
    text-align: center;

    margin-top: 18px;
    h3 {
      font-size: 18px;
      line-height: 27px;
      font-weight: bold;
      color: $white;

      margin: 0;
    }
    p {
      margin: 0;
    }
  }
}

@media (max-width: 640px) {
  .similar-grid {
    grid-template-columns: 137px 137px;
  }
  .similar-item {
    img {
      height: 137px;
      width: 137px;
    }
  }
}