.track-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 550px));
  column-gap: 50px;
  row-gap: 25px;
}

.track {
  display: flex;
  column-gap: 15px;
  img {
    display: block;
    height: 55px;
    width: 55px;
  }
  .track-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-grow: 1;
    p {
      margin: 0;
      font-size: 12.8px;
      span {
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}