@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.ttf");
}
.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
ul, ol {
  list-style-type: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
a {
  text-decoration: none;
}
.title {
  color: var(--White, #ffffff);
  /* Header 2 */
  font-family: Roboto;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 150% */
  text-transform: uppercase;
}