.page-news {
  background: var(--Black, #08020D);
  padding-top: 100px;
  &__wrapper {
    display: flex;
  }
  &__title {
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px; /* 150% */
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 48px;
  }
}
.news-item {
  display: flex;
  &__img {
    margin-right: 50px;
  }
  &__title {
    color: #FFF;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 150% */
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  &__descr {
    color: #CACACA;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 25px;
  }
  &__avatar-and-date {
    display: flex;
    margin-bottom: 48px;
    & img {
      margin-right: 16px;
    }
  }
  &__button {
    border-radius: 5px;
    border: 1px solid #CACACA;
    color: #CACACA;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px; /* 160% */
    text-transform: uppercase;
    padding: 16px 30px;
    display: block;
    background-color: transparent;
    width: 135px;
    height: 53px;
  }
}
.avatar-and-date__title {
  margin-right: 16px;
  color: #F89202;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px; /* 160% */
  text-transform: uppercase;
}
.avatar-and-date__date {
  color: #CACACA;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px; /* 160% */
}
.reverse {
  flex-direction: row-reverse
}
.img-reverse {
  margin-right: 0;
  margin-left: 50px;
}
.news-item__1block {
  margin-bottom: 65px;
}
@media (max-width: 415px) {
  .page-news {
    padding-left: 20px;
    padding-right: 20px;
    &__title {
      font-size: 18px;
    }
  }
  .news-item {
    flex-direction: column;
    &__img {
      width: 100%;
      margin-bottom: 50px;
    }
    &__title {
      font-size: 16px;
      margin-bottom: 0;
      margin-bottom: 16px;
    }
  }
  .img-reverse {
    margin-left: 0;
  }
}