$bg-color: #08020d;
$font: Roboto, sans-serif;
$font-bold: Roboto-Bold, sans-serif;
$black: #08020D;
$dark: #3C3B3D;
$purple: #5328A1;
$white: #FFFFFF;
$dark-grey: #CACACA;
$grey: #E0E0E0;
$green: #34C176;
$orange: #F89202;
$red: #95390C;




